<div style="display: flex; align-items: flex-start;">
  <!-- Cadastro Form -->
  <div class="px-3">
    <div class='top'>
      <div class='content-white'>
        Cadastrar Veiculos
      </div>
      <div class='circ-pink'></div>
    </div>
    <form [formGroup]="formVeiculo" (ngSubmit)="cadastrarVeiculo()" action='' class='form'>
      <p class='field required'>
        <label class='label' for='name'>Nome veiculo</label>
        <input formControlName="veiculo" class='text-input' required id='name' name='name' type='text' value=''>
      </p>
      <p class='field required half'>
        <label class='label'>Marca do veiculo</label>
        <select required formControlName="marca" class="form-control select2 select2-hidden-accessible text-input"
          style="width:
        100%;" tabindex="-1" aria-hidden="true">
          <option selected="selected">HONDA</option>
          <option>FIAT</option>
          <option>FORD</option>
          <option>CHEVROLET</option>
          <option>VOLKSWAGEN</option>
        </select>
      </p>
      <p class='field half required'>
        <label class='label'>Ano</label>
        <input formControlName="ano" class='text-input' type='tel' maxlength="4">
      </p>

      <div class='field required'>
        <label class='label'>
          Selecione sua cor
        </label>
        <select formControlName="cor" class="form-control select2 select2-hidden-accessible text-input" style="width:
      100%;" tabindex="-1" aria-hidden="true">
          <option selected="selected">BRANCO</option>
          <option>PRETO</option>
          <option>VERMELHO</option>
          <option>AZUL</option>
          <option>VERDE</option>
          <option>AMARELO</option>
        </select>
      </div>
      <div class='field required'>
        <label class='label'>Situação do Veiculo?</label>
        <input formControlName="vendido" type="radio" #radio style="display: none;">
        <ul class='checkboxes'>
          <li class='checkbox'>
            <input class='checkbox-input' id='choice-0' type='radio' value='false' 
            [checked]="formVeiculo.get('vendido')?.value" (click)="radio.checked = true; formVeiculo.get('vendido')?.setValue(true);">
            <label class='checkbox-label' for='choice-0'>Vendido</label>
          </li>
          <li class='checkbox'>
            <input class='checkbox-input' id='choice-1' type='radio' value='true' 
            [checked]="!formVeiculo.get('vendido')?.value" (click)="radio.checked = true; formVeiculo.get('vendido')?.setValue(false);">
            <label class='checkbox-label' for='choice-1'>Está a venda</label>
          </li>

        </ul>
      </div>

      <p class='field'>
        <label class='label' for='about'>Descrição</label>
        <textarea class='textarea' formControlName="descricao" cols='50' id='about' name='about' rows='4'></textarea>
      </p>

      <p class='field half'>
        <input class='btn btn-danger' type='submit' value='Cadastrar' *ngIf="!isEditing">

        <input class='btn btn-danger' type='button' *ngIf="isEditing" value='Atualizar' (click)="atualizar()">
        <input class='btn btn-warning mx-3' type='button' *ngIf="isEditing" value='Cancelar'
          (click)="cancelEdit()" />
      </p>
    </form>
  </div>
  <!-- Lista de Veiculos -->
  <div class="px-3">
    <div class="container-fluid mb-5">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h2>{{qntVeiculosNaoVendidos}}</h2>
              <small>Quantidade de Veiculos não vendidos</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-white">Veiculos cadastrados</h2>
    <table class="table table-dark" style="height: 500px; overflow-y: auto; display: block;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome do Veiculo</th>
          <th scope="col">Marca</th>
          <th scope="col">Cor</th>
          <th scope="col">Ano</th>
          <th scope="col">Vendido</th>
          <th scope="col">Descricao</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculosList">
          <td>{{ veiculo.id }}</td>
          <th scope="row">{{ veiculo.veiculo}}</th>
          <td>{{ veiculo.marca }}</td>
          <td>{{ veiculo.cor }}</td>
          <td>{{ veiculo.ano }}</td>
          <td>{{ veiculo.vendido ? "SIM" : "NÃO" }}</td>
          <td>{{ veiculo.descricao }}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-light" (click)="editVeiculo(veiculo)">Editar</button>
              <button (click)="deleteVeiculo(veiculo)" type="button" class="btn btn-danger">Remover</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="text-white">Agrupados por década ( Quantidades )</h2>
    <table class="table table-dark" style="height: 300px; overflow-y: auto; display: block;">
      <thead>
        <tr>
          <th scope="col">Década</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculosAgrupadosDecadaList">
          <td style="width: 200px">{{ veiculo.decada }}</td>
          <td style="width: 200px">{{ veiculo.quantidade }}</td>
        </tr>
      </tbody>
    </table>

    <h2 class="text-white">Agrupados por Marca ( Quantidades )</h2>
    <table class="table table-dark" style="height: 300px; overflow-y: auto; display: block;">
      <thead>
        <tr>
          <th scope="col">Marca</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculosAgrupadosMarcaList">
          <td style="width: 200px">{{ veiculo.marca }}</td>
          <td style="width: 200px">{{ veiculo.quantidade }}</td>
        </tr>
      </tbody>
    </table>


    <h2 class="text-white">Veiculos cadastrados na última semana</h2>
    <table class="table table-dark" style="height: 500px; overflow-y: auto; display: block;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome do Veiculo</th>
          <th scope="col">Marca</th>
          <th scope="col">Cor</th>
          <th scope="col">Ano</th>
          <th scope="col">Vendido</th>
          <th scope="col">Descricao</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculosCadastradosLastWeekList">
          <td>{{ veiculo.id }}</td>
          <th scope="row">{{ veiculo.veiculo}}</th>
          <td>{{ veiculo.marca }}</td>
          <td>{{ veiculo.cor }}</td>
          <td>{{ veiculo.ano }}</td>
          <td>{{ veiculo.vendido ? "SIM" : "NÃO" }}</td>
          <td>{{ veiculo.descricao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
